@import url('https://fonts.googleapis.com/css?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monda&display=swap');

.header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: 5px solid black;
  margin-right: 50px;
  margin-left: 10px;
  box-shadow:
    0 4px 0 0 hsl(0, 0%, 75%)
}

.title {
  font-family: 'Bungee', cursive;
  font-size: 85px;
  text-shadow: 2px 2px gray;
  margin-left: 65px;
}

.title-image {
  width: 350px;
  border-radius: 7px;
  height: 230px;
  margin-left: 300px;
  margin-right: 150px;
  margin-bottom: 10px;
  padding-left: 20px;
}

.header-flex {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: -20px;
}

.header-button {
  font-size: 20px;
  margin-left: 60px;
  border-radius: 15px;
  color: #3776AE;
  background-color: white;
  width: 200px;
  border: 2px solid gray;
  font-weight: bold;
  padding: 5px;
}

.main-container {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 10px;
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
}

.tips {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-basis: 100%;
}

h2 {
  font-size: 18px;
  font-family: 'Monda', sans-serif;
  margin-left: 50px;
}

.tip {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-basis: 100%;
  width: 80%;
}

.tip-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

th {
  width: 20%;
  border-bottom: 1px solid silver;
  margin-right: 50px;
  font-size: 18px;
  font-weight: bold;
  box-shadow:
    0 1px 0 0 hsl(0, 0%, 75%);
  font-family: 'Bungee', cursive;
}

td {
  text-align: center;
  font-size: 20px;
  padding-bottom: 10px;
}

table {
  width: 100%;
}

.tip-button {
  border-radius: 4px;
  background-color: black;
  color: white;
  font-size: 15px;
  margin-right: 10px;
}

.sidebet {
  width: 23%;
}

.spread {
  width: 16%;
}
