@import url('https://fonts.googleapis.com/css?family=Bungee&display=swap');

.header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: 5px solid black;
  margin-right: 50px;
  margin-left: 10px;
  box-shadow:
    0 4px 0 0 hsl(0, 0%, 75%)
}

.title {
  font-family: 'Bungee', cursive;
  font-size: 85px;
  text-shadow: 2px 2px gray;
  margin-left: 65px;
}

.title-image {
  width: 350px;
  border-radius: 7px;
  height: 230px;
  margin-left: 250px;
  margin-right: 150px;
  margin-bottom: 10px;
}

.header-flex {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: -20px;
}

.header-button {
  font-size: 20px;
  margin-left: 40px;
  border-radius: 15px;
  color: #3776AE;
  background-color: white;
  width: 200px;
  border: 1px solid black;
}
