@import url('https://fonts.googleapis.com/css?family=Bungee&display=swap');

.header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: 5px solid black;
  margin-right: 50px;
  margin-left: 10px;
  box-shadow:
    0 4px 0 0 hsl(0, 0%, 75%)
}

.title {
  font-family: 'Bungee', cursive;
  font-size: 85px;
  padding-top: 8px;
  text-shadow: 2px 2px gray;
  margin-left: 65px;
}

.title-image {
  width: 350px;
  border-radius: 7px;
  height: 200px;
  margin-bottom: 18px;
  margin-left: 250px;
  margin-right: 150px;
}
